<div class="message <%= "right" if user_is_messages_author %>">
  <%= image_tag message.user.profile.photo, class: "avatar-profile-message" %>
  <div class="message-content"><%= message.content %></div>
</div>
