// Specific CSS for your home-page


.card {
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  color: black;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
  justify-items: center;
  align-items: center;
}

@media (max-width: 960px) {
.cards {
  grid-template-columns: 1fr 1fr 1fr
}
}

@media (max-width: 720px) {
.cards {
  grid-template-columns: 1fr 1fr
}
}

@media (max-width: 540px) {
.cards {
  grid-template-columns: 1fr
}
}

.full-container {
  display: flex;
  padding: 80px;
}

