.container-profile {
  margin: 100px 200px;
}

.avatar-wrapper{
  position: relative;
  height: 200px;
  width: 200px;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all .3s ease;
  &:hover{
    transform: scale(1.05);
    cursor: pointer;
  }
  &:hover .profile-pic{
    opacity: .5;
  }
}


.picture_profile {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
    &:after{
      font-family: FontAwesome;
      content: "\f007";
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      font-size: 190px;
      background: #ecf0f1;
      color: #34495e;
      text-align: center;
    }
  }


.background-my-profile {
  background-color: orange;
  border-radius : 10px;
  height: 400px;
  width: 209px;
  color: white;
  padding: 10px;
}

.my-history {
  height: 400px;
  width: 600px;
  background-color: #fff8f4;
  border-radius : 10px;
}

.container-my-profile {
  margin: 100px 200px;
}


.my-title-history{
  padding: 10px 20px;
}


.list li {
  list-style-type: none;
}


.container-activity-user {
background-color: white;
height: 60px;
width: 200px;
border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.container-edit-profile {
  padding-top: 10px;
  margin: 100px 400px;
  background-color: #fff8f4;
  border-radius: 10px;


}


