.container-my-profile{
  margin: 100px auto;
   align-items: center;
}



.my-history {
    width: 492px;
    height: 280px;
    border: none;
    border-radius: 10px;
   background-color: #fef8f4;
   border-radius: 10px;
   margin-left: 10px;
}




.card-category-profile {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fef8f4;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-trip-infos .card-trip-user {
    position: absolute;
    right: 15px;
    top: 109px;
    width: 233px;
}


.avatar-profile-p {
    width: 194px;
    border-radius: 50%;
    height: 209px;
}




.card.p-3{
    width: 570px;
    border: none;
        border-radius: 2px;
    background-color: #fff;
        margin-left: 51px;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}
.p-2.mt-2.bg-primary.d-flex.justify-content-between.rounded.text-white.stats {
    color: #fb8500 !important;
    position: absolute;
    bottom: 23px;
    right: 53px;
    padding: 15px 10px;
    width: 200px;

}

.prenom {
  font-size: 48px;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 10px 15px;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 7px;
    margin: 10px;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
    position: absolute;
    top: 22px;
}


element.style {
}

.articles {
    font-size: 10px;
    color: #a1aab9;
    margin-left: 5px;
}

.followers {
    font-size: 10px;
    color: #a1aab9;
    padding-left: 5px;
}

.rating {
    font-size: 10px;
    color: #a1aab9;
    padding-left: 5px;
}

