.container-my-profile {
  margin: 100px auto;
  align-items: center;
}

.list {
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  list-style-type: none;
}

.card-category-profile {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fef8f4;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-trip-infos .card-trip-user {
    position: absolute;
    right: 32px;
    top: 109px;
}

.avatar-profile-p {
    border-radius: 50%;
    object-fit: cover;
}

.carddy{
    width: 670px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    height: 180px;
    box-shadow: 1px 5px #f2f2f2
}

.my-history {
    width: 670px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 5px #f2f2f2;
    margin-top: 5px;
    padding-left: 32px;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}
.rounded.text-white.stats {
    color: #fb8500 !important;
    position: absolute;
    bottom: 436px;
    right: 48px;
    padding: 15px 10px;
    width: 200px;
}



.prenom {
  font-size: 48px;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 10px 15px;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 7px;
    margin: 10px;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
    position: absolute;
    top: 22px;
}


.button-orange  {
  background-color: orange;
  color: white;
}



.articles {
    font-size: 10px;
    color: #a1aab9;
    margin-left: 5px;
}

.followers {
    font-size: 10px;
    color: #a1aab9;
    padding-left: 5px;
}

.rating {
    font-size: 10px;
    color: #a1aab9;
    padding-left: 5px;
}

.image-flower {

max-width: 100%;
    max-height: 100%;
}


.container-activity-user li {
    list-style-type: none;

}
