.big-container {
    display: flex;
    justify-content: space-between;

}

.img-log {
  width: 70%;
  height: 80vh;
  object-position: left;

}


.login-form {
  margin : 108px auto;

}

.login-title {
    font-size: 39px;
    color: #000;
    font-weight: bold;
    margin-bottom: 25px;
}

#bu {
    padding: 13px 30px;
    background-color: #fdbb28;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px;
        border-radius: 20px;
            text-align: center;
    .btn:hover {
      background-color: #fdbb28;
      opacity: 1;

    }
}

.log-in-btn {
  font-size: 20px;
  text-align: center;
}


.text-white {
    color: #fff !important;
    position: absolute;
    bottom: 173px;
    right: 167px;

}


.img-log {
    width: 50%;
    height: 80vh;
    -o-object-position: left;
    object-position: left;
    background-size: cover;
}
