       <footer>
                <div class="footer-icons">
                  <a href="https://msng.link/o/?plus-one=ig"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=www.plus-one.com"><i class="fab fa-facebook"></i></a>
                  <a href="https://twitter.com/intent/tweet?url=www.plus-one.com"><i class="fab fa-twitter"></i></a>
                  <a href="http://www.linkedin.com/shareArticle?mini=true&url=www.plus-one.com"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="container pb-3">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">

                        <h3 class="footer-header">Activities</h3>

                        <ul>
                            <li>Browse activities</li>
                            <li>FAQ</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">

                        <h3 class="footer-header">About us</h3>

                        <ul>
                            <li>Team</li>
                            <li>Contact</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">


                        <h3 class="footer-header">My Profile</h3>

                        <ul>
                            <li>Activity history</li>
                            <li>Track my activity</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <p class="copyright row justify-content-center">PlusOne © 2021, developed by Mayen and Johann</p>
                </div>
            </div>
          </footer>
