<div class="home-banner">
  <div class="home-text">
    <h2>Traveling solo?</h2>
    <p>PlusOne is a website and app that allows you to connect with people nearby who share your interests so you don’t always have to do activities alone</p>
  </div>
    <button class="btn btn-primary"><%= link_to "Join now", activities_path  %></button>

</div>

