<div class="home-banner">
  <div class="home-text">
    <h2>Your buddy finder</h2>
    <p class="wrap">PlusOne helps you to connect with people nearby who share your interests so you don’t always have to do activities alone</p>
     <button class="btn btn-primary"><%= link_to "Learn more", activities_path  %></button>
  </div>
</div>

    <div class="full-container">
      <h2>Getting started</h2>
      <div class="cards">
        <div class="card fas fa-edit">
      <p>Set up your profile and connect with other users. It’s simple and easy.</p>
    </div>


      <div class="card fas fa-scroll">
      <p>Browse list of activities to find a matching buddy or create your own activity.</p>
    </div>


      <div class="card fas fa-thumbs-up">
      <p>Confirm activity with your buddy. Use the chat feature to request more information.</p>
    </div>
  </div>
  </div>

