.home-banner {
  background-image: asset-url("home-banner-3.jpg");
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.home-text {
  padding: 50px 0;
  padding-top: 70px;
  padding-left: 40px;
}

.banner-link {
  margin-left: 200px;
}


.wrap {
   font-family: 'Open Sans', sans-serif;
   font-size: 22px;
   color: white;
   margin-left: 200px;
}

#banner-heading {
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
   margin-left: 200px;
}
