.home-banner {
  background-image: asset-url("home-banner-3.jpg");
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.home-text {
  text-align: center;
  padding: 50px 0;
  padding-top: 70px;
  text-align: left;
  padding-left: 40px;
}

.btn-primary {
  color: white;
  border-radius: 10px;
  border:none;
  padding: 10px 25px;
  margin: 10px 0 0 200px;
}

.btn:hover {
 background-color:#black;
}

.wrap {
   font-family: 'Open Sans', sans-serif;
   font-size: 22px;
   color: white;
   margin-left: 200px;
}

#banner-heading {
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
   margin-left: 200px;
}
