.btn-primary {
  text-decoration: none;
  background-color: #FCA94C;
  border-radius: 10px;
  border:none;
  padding: 10px 15px;
  a {
    color: white;
  }
}

.btn:hover {
 background-color: #FB8500;
 opacity: 0.5;
}

.btn-ghost {
  color: white;
  background-color: #b2b2b2;
  border-radius: 10px;
  border:none;
  padding: 10px 15px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  a {
    color: white;
  }
}

