.card-product {
  overflow: hidden;
  height: 480px;
  background: #f3f3f3;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 60px;
  border: 3px ridged #FB8500;
  margin-left: 200px;
  margin-right: 200px;
}

.card-product-infos {
  width: 500px;
  height: 0px;
}

.card-product img {
  height: 120%;
  width: 400px;
  object-fit: cover;
}

.card-product .card-product-infos {

}

.show-text {
  text-align: center;
  color: #023047;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.8;
}

.title-text {
  color: #023047;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.8;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.paragraph-top {
  color: #023047;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.8;
  font-size: 18px;
  opacity: .7;
  margin-left: 50px;
  margin-top: 60px;
}

.paragraph-bottom {
  color: #023047;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.8;
  font-size: 18px;
  opacity: .7;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-top: 60px;
}

.paragraph-header {
  color: #023047;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.8;
  font-size: 18px;
  line-height: 0.5;
  opacity: .7;
   margin-left: 50px;
   font-weight: bold;
   margin-top: 60px;
}

.show-link {
  display: inline;
  margin-left: 40px;
  margin-bottom: 100px;
  color: white;
}

.revert-link {
  margin-left: 1000px;
  font-size: 18px;
}

.card-product-infos .card-trip-user {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  right: auto;
  width: 60px;
  left: 220px;
  height: 60px;
  margin-top: 40px;
}

.avatar {
  height: 50px;
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 80px;
}

.avatar-text {
  text-align: right;
  color: #023047;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px;
  margin-right: 35px;
}

.calendar-icon {
  position: absolute;
  align-items: flex-start;
  font-size: 36px;
  color: #FB8500;
  opacity: 0.7;
  margin-left: 70px;
}

.paragraph-calendar {
  margin-right: 50px;
  padding-left: 120px;
}

location-icon {
  position: absolute;
  align-items: flex-start;
  font-size: 36px;
  color: #FB8500;
  opacity: 0.7;
  margin-left: 70px;
}

.paragraph-location {
  margin-right: 50px;
  padding-left: 120px;
}

