.page-container {
display: grid;
grid-template-rows: auto 1fr auto;
min-height: 100vh;
}

footer {
  bottom:0;
  width:100%;
  background-color: #F0EFEB ;
  color:#4b4c4d;
}

 .footer-header {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
  color:  #FB8500;
}

 footer  ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
  text-decoration:none;
}

footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

footer ul a:hover {
  opacity:2;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-links {
  display: flex;
  height: 60px;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 30px;
  color: #fcb566;

}

.footer-links a:hover {
  opacity: 1;
}

.copyright {
  color: #fcb566;
  font-size: 14px;
  font-style: italic;
  opacity: 0.7;
  margin-top: 15px;
}

.footer-icons {
  width: 100%;
  background-color: #c4c4c4;
  text-align: center;
  font-size: 25px;
  word-spacing: 30px;
  opacity: 0.7;
}

