.form-header {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 25px;
  opacity: 0.9;
  font-family: 'Roboto', sans-serif;
  color: #023047;
}

.activity.title {
  padding-top: 20px;
  color: #023047;
  font-family: 'Open Sans', sans-serif;
}

.activity-description {
  color: #023047;
  font-family: 'Open Sans', sans-serif;
}

.acticity-location {
  color: #023047;
  font-family: 'Open Sans', sans-serif;
}

.datepicker {
  color: #023047;
  font-family: 'Open Sans', sans-serif;
}

.form-btn {
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

.wrapper-button {
  justify-content:center
}

