


a {
    color: #FB8500;
    text-decoration: none;
    background-color: transparent;
    display: none;
}



#map{
  max-width: 600px;
  margin-top: 2%;
  min-height: 400px;
  min-width: 400px;
}
