
.flex-nav{
  flex: none;
}

.navbar-lewagon {
    justify-content: space-between;
    background: #F0EFEB;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 45px;
}

.navbar-brand img {
  height: 173px;
  margin-top: 10px;
  border: none;
}

.collapse .navbar-collapse ul li{
  display: inline;
  padding-bottom: 20px;
}

.navbar-nav {
  word-spacing: 0.2px;
}

.nav-item {
  text-align: center;
}

.nav-link2 {
  color: #FB8500;
  padding: 8px;
  padding-top: 10px;
}

.navg-link {
  padding: 8px;
  padding-top: 10px;
}
