.navbar-lewagon {
  justify-content: space-between;
  background: #F0EFEB;
  position: sticky;
  top:0;
  z-index: 1;
  //flex-direction: row-reverse;
  // background: white;
  // border: 1px solid #fff8f4;
}


.flex-nav{
  flex: none;
}

.navbar-lewagon .navbar-collapse {

}

.navbar-lewagon .navbar-brand img {
  width: 90px;
  height: 20px;
  border: none;
}

.collapse .navbar-collapse ul li{
  display: inline;
}


.navbar .navbar-expand-sm {
}

.nav-item {
  text-align: center;
}
