
.flex-nav{
  flex: none;
}

.navbar-lewagon {
    justify-content: space-between;
    background: #FFEFEB;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 55px;
}

.navbar-brand img {
  height: 183px;
  margin-top: 10px;
  border: none;
}

.collapse .navbar-collapse ul li{
  display: inline;
  padding-bottom: 20px;
}

.navbar-nav {
  word-spacing: 0.2px;
}

.nav-item {
  text-align: center;
}

.nav-link2 {
  color: #FB8500;
  padding: 8px;
  padding-top: 10px;
}

.navg-link {
    padding: 8px;
    padding-top: 10px;
    padding-right: 28px;
}

.welcome-user {
  margin-right: 330px;
  margin-top: 11px;
}

.navbar-nav.mr-auto a {
  text-decoration: none;
}
