.search-form-control {
  position: relative;
}

.form-control {
  border-radius: 5px;
}

.search-form-control .btn-search {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  padding: 10px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  margin: auto;
  margin-top: 40px;
  width: 60%;
}

.btn-search:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin: 2px;
    margin-right: 20%;
    padding: 7px;
    width: 100px;

}

.search-result {
  font-size: 23px;
  margin: 25px auto;
  padding: 5px;
}

.activity-title {
  text-align: center;
  margin-left: 192px;
}

.header-activity-show {
  display: flex;
  align-items: center;
}
