.card-category.col-4{
  background-color: white;
}

.para {
 color: #023047;
}

.body-card.d-flex {
  background-color: #fff3ed;
  width: 350px;
  justify-content: space-between;
  padding: 8px;
  border-radius: 3px;
}

.title-card {
  font-weight: bold;
  color: #E67E22;
}

.activity-title {
    margin-left: 187px;
    margin-top: 61px;
    color:#E67E22;
}


.activity-title-map {
   margin-left:  187px;
    margin-top: 61px;
    padding-bottom: 20px;
}

h5 {
  color: #023047;
   margin-left: 187px;;
}

.card-category-theme {
  background-size: cover;
  background-position: center;
  height: 130px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 20px 187px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}


.card-category-theme:hover{
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.map-card-layout {
  display: flex;
  justify-content: space-between;
  background-color: #fff8f4;
}


